{% extends 'Layout/html5.html.twig' %}

{% block title %}Login page{% endblock %}

{% block body %}
    <div class="container">
        {% include '@admin/login-form.html.twig' %}
    </div>
{% endblock %}