{% extends 'Layout/default-site-layout.html.twig' %}


{% block title %}Login page{% endblock %}
        {% block notifications %}
        {% endblock %}

{% block content %}
    <div class="row">
        <div class="col s12 m3 l4">
            <div class="card-panel">
                <h2>Login</h2>
                {{ component("Component\\NotificationComponent") | raw }}
                {{ component("Bundle\\AuthBundle\\Component\\LoginFormComponent") | raw }}
            </div>
        </div>
    </div>

{% endblock %}